body, html {
  height: 100%;
  margin: 0;
}

header {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, p {
  font-size: 8em;
  font-family: 'Pangolin', cursive;
}

p {
  font-size: 2.4em;
}

.caption {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.caption-text {
  position: relative;
}
